<!doctype html>
<html lang="en">
<%- include('./parts/site/head.ejs') %>
<body>

<div class="container-fluid">
    <div class="row main-row">
        <%- include('./parts/page/sidebar/sidebar.ejs') %>

        <div class="col-xs-9 main">
            <%- include('./parts/page/3d-viewer/3d-viewer.ejs') %>
            <%- include('./parts/page/2d-floorplanner/2d-floorplanner.ejs') %>
            <%- include('./parts/page/add-items/add-items.ejs') %>
        </div>
    </div>
</div>

<%- include('./parts/site/foot.ejs') %>
</body>
</html>
